@import url("rouge.css");

:root {
  --clr-neutral-100: #fff;
  --clr-neutral-400: rgba(0, 0, 0, 0.1);
  --clr-neutral-600: #747373;
  --clr-neutral-900: #000;
  --clr-accent: #0cf;
  --clr-highlight-background: #212529;
  --clr-highlight-border: var(--clr-highlight-background);
  --ff-main: "Open Sans", sans-serif;
  --ff-main-weight: 400;
  --ff-emphasis: "Open Sans", sans-serif;
  --ff-emphasis-weight: 700;
  --ff-mono: "Source Code Pro", monospace;
  --ff-mono-weight: 400;
  --fs-100: 0.75rem;
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-neutral-100: #212529;
    --clr-neutral-400: #424246;
    --clr-neutral-600: #9F978A;
    --clr-neutral-900: #e8e8e8;
    --clr-accent: #f8b3da;;
    --clr-highlight-border: var(--clr-neutral-400);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Backgrounds */

body {
  background-color: var(--clr-neutral-100);
}

/* Typography */

p,
time,
h1,
h2 {
  color: var(--clr-neutral-900);
}

p,
time {
  font-family: var(--ff-main);
  font-weight: var(--ff-main-weight);
  font-size: var(--fs-400);

  line-height: 1.6;
}

h1,
h2 {
  font-family: var(--ff-emphasis);
  font-weight: var(--ff-emphasis-weight);

  text-transform: uppercase;
  line-height: 1.0;
}

h1 {
  font-size: var(--fs-600);
}

header h1 {
  font-size: var(--fs-800);

  text-align: center;
}

h2 {
  font-size: var(--fs-500);
}

a {
  color: var(--clr-accent);
  font-family: var(--ff-emphasis);
  font-weight: var(--ff-emphasis-weight);

  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.2em;
}

a .active {
  text-decoration-thickness: 0.25em;
}

a:hover {
  text-decoration: none;
}

nav {
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

nav ul div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 22.5em) {
  nav ul {
    flex-direction: row;
  }

  nav ul div {
    flex-direction: row;
  }
}

nav ul li {
  text-align: center;

  margin: 0 0.5em;
  padding: 0.5em;
}

.tag {
  color: var(--clr-neutral-400);
  font-family: var(--ff-main);
  font-weight: var(--ff-main-weight);
  font-size: var(--fs-600);

  text-transform: lowercase;

  border-bottom: 1px solid var(--clr-neutral-400);
}

.post h1 {
  line-height: 1.4;
}

img {
  height: auto;
}

div.highlight, figure.highlight {
  background-color: var(--clr-highlight-background);

  font-family: var(--ff-mono);
  font-weight: var(--ff-mono-weight);
  font-size: var(--fs-200);

  overflow-x: scroll;

  border: 1px solid var(--clr-highlight-border);
  border-radius: 0.5rem;

  margin-block: 2rem;
  padding: 1rem;
}

@media screen and (min-width: 22.5em) {
  div.highlight, figure.highlight {
    font-size: var(--fs-300);

    overflow: auto;
  }
}

/* Layout */

header,
footer {
  padding-block: 1rem;
}

nav,
header h1 {
  margin-bottom: 1rem;
}

footer {
  margin-top: 1rem;
}

main {
  width: 90%;
  max-width: 56rem;

  margin-inline: auto;
}

p,
time,
h1,
h2 {
  margin-block: 1rem;
}

.tag {
  margin-bottom: 1rem;
  padding-bottom: 0.375rem;
}

.header {
  margin-bottom: 2rem;
}
 
.header h1 {
  margin-bottom: 0.5rem;
}

.split {
  display: flex;
  flex-direction: column;
}

#profile {
  width: 50%;

  max-width: 10rem;

  margin-inline: auto;
  margin-bottom: 1rem;
}

@media screen and (min-width: 62.5em) {
  .split {
    flex-direction: row;
  }

  #profile {
    position: relative;
    top: 1.5rem;

    order: 1;

    max-width: 15rem;

    margin-left: 4em;
    margin-bottom: auto;
  }
}