@import url("rouge-light.css");

:root {
  --clr-neutral-100: #fff;
  --clr-neutral-700: #747373;
  --clr-neutral-800: rgba(0, 0, 0, 0.1);
  --clr-neutral-900: #000;
  --clr-accent: #0cf;
  --ff-main: "Open Sans", sans-serif;
  --ff-main-weight: 400;
  --ff-emphasis: "Source Code Pro", monospace;
  --ff-emphasis-weight: 600;
}

@media (prefers-color-scheme: dark) {
  @import url("rouge-dark.css");

  :root {
    --clr-neutral-100: #212529;
    --clr-neutral-700: #9F978A;
    --clr-neutral-800: #424246;
    --clr-neutral-900: #e8e8e8;
    --clr-accent: #f8b3da;;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}